body{
    background-color:azure;
}
*{
    font-family: sans-serif;
}
h1{
    text-align:center;
}
h2{
    text-align: justify;
}
p{
    text-align: justify;
}

table td{
    border: 2px solid black;
    padding: 10px;
}

#tr{
    background-color: silver;
    font-weight: bold;
}

table{
    
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

form{
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

.button{
    border: none;
    font-size: 15px;
    background-color: darkgray;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
}

.button: hover{
    cursor: pointer;
}

.div{
    margin: 15px;
}
.div > label{
    display: block;
    color: black;
    font-weight: bold;
}
div > input{
    width: 285 px;
    font-size: 16px;
    padding: 4px;
    background-color: floralwhite;  
}

textarea{
    background-color: floralwhite;
}